<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>SpaceX Launches 🚀</title>
	<link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/232/rocket_1f680.png">

	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_o5hd5vvqpoqiwwmi.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-33281840-7"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-33281840-7');
	</script>

	<style media="screen">
		.feather { font-size: inherit; }
	</style>

</head>
<body>
	<div class="container-lg my-4 my-lg-5">

		<div class="float-right d-md-none h5"><a href="#info" class="text-muted text-decoration-none"><i class="feather icon-info"></i></a></div>

		<h3 class="mb-5">SpaceX Launches 🚀</h3>

		<div class="row">
			<div class="col-md-9">

				{{#launches}}
					<div class="font-weight-bold">{{dateText}}</div>
					<div class="my-1">{{payloadIcon}} {{payload}} • {{customer}}</div>
					<div class="small my-1" style="opacity:0.5">{{type}} • {{site}} • {{orbit}}</div>
					<div class="small">{{note}}</div>
					<hr />
				{{/launches}}
			</div>
			<div class="col-md-3 ">
				<div class="sticky-top pt-3">
					<div class="rounded small bg-light p-3 " id="info">
						<div  class="mb-3"><a href="/api" target="_blank">API</a></div>
						<div  class="mb-4"><a href="/sync.html" >Sync to your calendar</a></div>

						<div  class="text-uppercase small text-muted">Source</div>
						<div  class="mb-3"><a href="https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches#Future_launches" target="_blank">Wikipedia: List of Falcon 9 and Falcon Heavy launches</a></div>

						<div  class="text-uppercase small text-muted">Created by</div>
						<div class="mb-3"><a href="https://moesalih.com" target="_blank" class="mr-3">Moe Salih</a></div>

						<div  class="text-uppercase small text-muted">Contact</div>
						<div class="mb-3"><a href="mailto:moe.salih@gmail.com" target="_blank" class="text-decoration-none mr-2"><i class="feather icon-mail"></i></a> <a href="https://twitter.com/moesalih_" target="_blank" class="text-decoration-none mr-2"><i class="feather icon-twitter"></i></a></div>

						<div  class="text-uppercase small text-muted">Code</div>
						<div class="mb-3"><a href="https://github.com/moesalih/spacex.moesalih.com" target="_blank" class="mr-3">GitHub</a></div>

						<div  class="text-uppercase small text-muted">Support this site</div>
						<div class=""><a href="https://www.paypal.me/moesalih1" target="_blank">Donate</a></div>

					</div>
				</div>
			</div>

		</div>

	</div>
</body>
</html>
