<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="UTF-8">
	<title>SpaceX Launches 🚀</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-33281840-7"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-33281840-7');
	</script>

</head>
<body>
	<div class="container">
		<br /><h3 class="my-4">SpaceX Launches 🚀</h3>
		<hr />

		{{#launches}}
			<strong>{{dateText}}</strong><br />
			{{payload}} • {{customer}}<br />
			<small style="opacity:0.5">{{type}} • {{site}} • {{orbit}}</small><br />
			<div class="small">{{note}}</div>
			<hr />
		{{/launches}}

		<footer class="my-5 small">
			<div style="opacity:0.5" class="mb-3"><a href="/calendar" target="_blank">Sync to your calendar</a></div>
			<div style="opacity:0.5" class="mb-3">Source: <a href="https://en.wikipedia.org/wiki/List_of_Falcon_9_and_Falcon_Heavy_launches#Future_launches" target="_blank">List of Falcon 9 and Falcon Heavy launches</a></div>
			<div style="opacity:0.5">
				Created by <a href="http://moesalih.com" target="_blank" class="mr-3">Moe Salih</a>
				Support this site: <a href="https://www.paypal.me/moesalih1" target="_blank">Donate</a>
			</div>
		</footer>
	</div>
</body>
</html>
